### COLOR VOCABULARY PROJECT-EXTERNAL CSS FILE ###


*{
    background:whitesmoke;
}

*{
    font-weight:normal ;
}

*{
    height: 200;
}

*{
    width: 200;
}

#red {
    color:red
}

#blue {
    color:blue
}

#orange {
    color:orange
}

#green {
    color:green
}

#yellow {
    color:yellow
}

img{

    height:200px;
    width: 200px;
}
