### CSS COLORS EXTERNAL FILE ###


* {
    background:antiquewhite
}

h1{
    color:whitesmoke
}

h1{
    background:darkseagreen
}
h2{
    color: #FAF8F1
}

h2{
    background:#C58940
}
