### MOTIVATIONAL MEME EXTERNAL CSS FILE ###


* {
 background:black;
}

h1 {
 color:white;
 font-family:'Libre Baskerville', serif;;
}

p {
 color:white;
}

img{
 border:5px solid white;
 width:100%;
}

#poster {
 text-align: center;
 width:50%;
 margin-left:25%;
}


